footer {
    height: 200px;
    background-color: #353535;
    color: white;
    padding: 25px 0 40px 25px;
    line-height: 28px;
    & h4 {
        font-family: 'Shrikhand', sans-serif;
        padding: 0 0 6px 0;
    }
}

ul {
    padding: 0;
    & div {
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: space-around;
        & i {
            font-size: 10px;
        }
    }
}

.lien_1 {
    padding: 0 163px 0 0;
}

.lien_2 {
    padding: 0 188px 0 0;
}

li {
    list-style-type: none;
    & a {
        color: white;
    }
}

