footer {
    height: 200px;
    background-color: #353535;
    color: white;
    padding: 25px 0 0 25px;
    line-height: 28px;
    & h4 {
        font-family: 'Shrikhand', sans-serif;
        padding: 0 0 6px 0;
    }
}

nav div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    & i {
        font-size: 10px;
    }
}

.footer_lien_1 {
    padding: 0 163px 0 0;
}

.footer_lien_2 {
    padding: 0 188px 0 0;
}

                        /* Pour les first mobile*/

@media (min-width: 376px) {
    footer {
        text-align: center;
    }

    nav div {
        justify-content: center;
    }

    .footer_lien_1, .footer_lien_2 {
        padding: 0;
    }

    .footer_lien_1 i, .footer_lien_2 i {
        padding-right: 2%;
    }
}