footer {
    background-color: #353535;
    color: white;
    padding: 25px 0 0 25px;
    line-height: 30px;
    & h4 {
        font-family: 'Shrikhand', sans-serif;
        padding: 0 0 6px 0;
    }

    footer, .footer_lien {
        padding-bottom: 57px;
}
    }

    .footer_lien_1, .footer_lien_2 {
        display: flex;
        align-items: center;
    }

    .footer_lien_1 a, .footer_lien_2 a {
        padding-left: 10px;
    }

                        /* Pour les first mobile*/

@media (min-width: 376px) {
    footer {
        text-align: center;
    }

    nav div {
        justify-content: center;
    }

    .footer_lien_1, .footer_lien_2 {
        padding: 0;
    }

    .footer_lien_1 i, .footer_lien_2 i {
        padding-right: 2%;
    }
}

                        /* Pour les desktop*/

@media (min-width: 992px) {
    footer h4 {
        font-size: 140%;
    }

    .footer_lien {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;
        padding-top: 2%;
    }

    .footer_lien_1, .footer_lien_2 {
        align-items: flex-end;
    }

    .footer_lien_1 p, .footer_lien_2 p {
        width: 103%
    }

}