form {
    background-color: $background-color_page;
}

.form_recherche {
    @include flexbox;
    height: 51px;
    box-shadow: inset 1px 3px 0px #e5dfdf;
    background-color: $background-color_plusfonce;
    &_position {
        margin: 13px 0 15px 102px;
    }
}

input {
    border: none;
    background-color: $background-color_plusfonce;
    font-weight: bold;
    margin: 13px 15px 15px 0;
}

.form_corps {
    text-align: center;
    height: 287px;
    &_p {
        margin: 0 28px 33px 39px;
    }
}

h1 {
    font-weight: bold;
    padding: 43px 78px 21px 63px;
    font-size: 22px;
    margin: 0;
}

