form {
    background-color: $background-color_page;
}

.form_recherche {
    @include flexbox;
    height: 51px;
    box-shadow: inset 1px 3px 0px #e5dfdf;
    background-color: $background-color_plusfonce;
    &_position {
        margin: 13px 0 15px 102px;
    }
    & input {
        border: none;
        background-color: $background-color_plusfonce;
        font-weight: bold;
    }
}

.form_corps {
    text-align: center;
    height: 287px;
    &_p {
        margin: 0 28px 33px 39px;
    }
}

h1 {
    padding: 43px 74px 21px 63px;
    margin: 0;
}

                        /* Pour les first mobile*/

@media (min-width: 376px) {
    .form_recherche {
        justify-content: center;
    }

    .form_recherche_position i {
        padding: 0 25px 0 0;
    }
}