header {
    display: flex;
    align-items: center;
    height: 62px;
    & i {
        margin: 30px 66px 30px 28px;
    }
}

.logo {
    display: block;
    width: 170px;
    height: 30px;
    margin: 21px auto 12px auto;
}

                        /* header du menu*/

header a {
    color: initial;
}

.logo_menu {
    width: 170px;
    height: 30px;
    margin: 0;
}

                        /* Pour les first mobile*/

@media (min-width: 376px) and (max-width: 768px) {
    header {
        justify-content: center;
    }
    
    .logo {
        width: 32%;
        height: 70%;
    }
}