header {
    display: flex;
    align-items: center;
    & i {
        margin: 30px 66px 30px 28px;
    }
}

.logo {
    display: block;
    width: 170px;
    height: 30px;
    margin: 21px auto 12px auto;
}

                        /* header du menu*/

header a {
    color: initial;
}

.logo_menu {
    width: 170px;
    height: 30px;
    margin: 0;
}

                        /* Pour les first mobile*/

@media (min-width: 376px) {
    header {
        justify-content: center;
    }
    
    .logo, .logo_menu {
        width: 32%;
        height: 70%;
    }
}

                        /* Pour les desktop*/

@media (min-width: 992px) {
    .fa-arrow-left:before {
        font-size: 135%;
    }

    .logo, .logo_menu {
        width: 25%;
        height: 50%;
    }
}
