.logo {
    display: block;
    width: 170px;
    height: 30px;
    margin: 21px auto 12px auto;
}

/* header du menu*/

header a {
    color: initial;
}

                        /* Pour les first mobile*/

@media (min-width: 376px) and (max-width: 768px) {
    .logo {
        width: 32%;
        height: 70%;
    }
}