            /* les mots */

.loader {
    height: 100vh;
    background-color: $background-color_plusfonce;
}

.mot {
    text-align: center;
    padding-top: 272px;
}

.mot_1, .mot_2, .mot_3 {
    font-weight: bold;
    font-family: 'Shrikhand', sans-serif;
    font-size: 50px;
}

.mot_1, .mot_3 {
    color: $color-primary;
}

.mot_2, .mot_4 {
    color: $color-secondary;
}


                /* Les ronds */

.rond_1, .rond_2, .rond_3, .rond_4 {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: inline-block;
}
                
.rond_1, .rond_4 {
    background-color: $color-primary;
}
                
.rond_2, .rond_3 {
    background-color: $color-secondary;
}

                        /* Pour les first mobile*/

@media (min-width: 376px) {
    .rond {
        margin-left: 40%;
    }
}

                        /* Pour les tablettes*/

@media (min-width: 769px) {
    .rond {
        margin-left: 45%;
    }
}

                        /* Pour les desktop*/

@media (min-width: 992px) {

    .mot_1, .mot_2, .mot_3 {
        font-size: 200px;
    }

    .rond_1, .rond_2, .rond_3, .rond_4 {
        height: 100px;
        width: 100px;
    }

    header {
        height: 135px;
    }

    .fa-arrow-left:before {
        font-size: 40px;
    }
}
                        