* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

#bloc-page {
  margin: 0;
}

h1 {
  font-size: 28px;
}

h1, h2, h3, h4, button {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: white;
}

button {
  background: linear-gradient(169deg, #FF79DA, #9356DC);
  color: white;
  border: white;
  border-radius: 50px;
  padding: 17px 20px 17px 20px;
  box-shadow: 2px 3px 20px #979696;
}
button:hover {
  filter: brightness(115%);
  box-shadow: 2px 3px 20px #474747;
}

/* Bouton du menu */
.menu_bouton {
  background: linear-gradient(169deg, #FF79DA, #9356DC);
  color: white;
  border: white;
  border-radius: 50px;
  padding: 17px 20px 17px 20px;
  box-shadow: 2px 3px 20px #979696;
  padding: 18px 48px 20px 47px;
  margin: 50px 94px 83px 94px;
}
.menu_bouton:hover {
  filter: brightness(115%);
}

.logo {
  display: block;
  width: 170px;
  height: 30px;
  margin: 21px auto 12px auto;
}

/* header du menu*/
header a {
  color: initial;
}

form {
  background-color: #f6f6f6;
}

.form_recherche {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 51px;
  box-shadow: inset 1px 3px 0px #e5dfdf;
  background-color: #eaeaea;
}
.form_recherche_position {
  margin: 13px 0 15px 102px;
}
.form_recherche input {
  border: none;
  background-color: #eaeaea;
  font-weight: bold;
}

.form_corps {
  text-align: center;
  height: 287px;
}
.form_corps_p {
  margin: 0 28px 33px 39px;
}

h1 {
  padding: 43px 74px 21px 63px;
  margin: 0;
}

footer {
  height: 200px;
  background-color: #353535;
  color: white;
  padding: 25px 0 0 25px;
  line-height: 28px;
}
footer h4 {
  font-family: "Shrikhand", sans-serif;
  padding: 0 0 6px 0;
}

nav div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav div i {
  font-size: 10px;
}

.footer_lien_1 {
  padding: 0 163px 0 0;
}

.footer_lien_2 {
  padding: 0 188px 0 0;
}

.fonctionnement {
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 16px 50px 30px;
}

h2 {
  margin: 0;
  padding: 55px 0 30px 0;
  font-weight: bold;
}

.fonctionnement_choix {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  background-color: #f6f6f6;
  border-radius: 20px;
  margin: 0 0 21px 0;
  box-shadow: 2px 3px 20px #dfdfdf;
}
.fonctionnement_choix_p1 {
  margin: 0px 70px 0px 25px;
  font-weight: bold;
}
.fonctionnement_choix_p2 {
  margin: 0px 86px 0px 22px;
  font-weight: bold;
}
.fonctionnement_choix_p3 {
  margin: 0px 80px 0px 19px;
  font-weight: bold;
}
.fonctionnement_choix span {
  background-color: #9356DC;
  border-radius: 100%;
  color: white;
  font-weight: bold;
  font-size: small;
  padding: 5px 8px 5px 8px;
  margin: 0 21px 0 -11px;
}

.fa-mobile-alt:before, .fa-list-ul:before, .fa-store:before {
  color: gray;
}

.restaurants {
  height: 1215px;
  background-color: #f6f6f6;
  padding: 0 20px 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

figure {
  width: 335px;
  height: 250px;
  background-color: white;
  border-radius: 15px;
  position: relative;
  box-shadow: 2px 3px 20px #dfdfdf;
}
figure img {
  width: 335px;
  height: 170px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
figure div {
  background-color: #99E2D0;
  color: #22a884;
  font-weight: bold;
  height: 30px;
  width: 80px;
  padding: 7px 13px 10px 13px;
  position: absolute;
  top: 13px;
  left: 243px;
  font-size: small;
}
figure figcaption {
  position: relative;
  padding: 15px 0px 0px 11px;
  line-height: 25px;
  color: initial;
}

.coeur {
  position: absolute;
  left: 285px;
  top: 20px;
  font-size: 25px;
}

.coeur_plein {
  position: absolute;
  left: 285px;
  top: 20px;
  font-size: 25px;
  opacity: 0;
}
.coeur_plein:hover {
  cursor: pointer;
}
.coeur_plein:active {
  color: transparent;
  background: radial-gradient(#DA86DF, #9B77D4);
  -webkit-background-clip: text;
  opacity: 1;
  transition: opacity 450ms ease-in-out 150ms;
}

header {
  display: flex;
  align-items: center;
  height: 62px;
}
header i {
  margin: 30px 66px 30px 28px;
}

.logo_menu {
  width: 170px;
  height: 30px;
  margin: 0;
}

.img_menu_A {
  height: 255px;
  width: 100%;
  margin-bottom: -50px;
  background-size: cover;
  background-image: url("/Images/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.menu {
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  height: 1195px;
}
.menu_titre {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.menu_titre h1 {
  font-family: "shrikhand", sans-serif;
  padding: 30px 0 10px 21px;
}
.menu h2 {
  font-size: 18px;
  padding: 40px 0px 23px 20px;
}

.menu_coeur {
  font-size: 25px;
  padding: 0px 0px 0px 68px;
}

.menu_coeur_plein {
  font-size: 25px;
}

.menu_choix {
  height: 66px;
  width: 348px;
  background-color: white;
  margin: 0px 0px 15px 13px;
  border-radius: 20px;
  overflow: hidden;
  padding: 0 23px 5px 11px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  line-height: 26px;
}
.menu_choix_accompagnement {
  display: flex;
  justify-content: space-between;
}
.menu_choix i {
  display: none;
}
.menu_choix_prix {
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
