@keyframes check_ok {
  0% {
    transform: translateX(57px);
  }
  100% {
    transform: translateX(-57px);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes defilement {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes rotation_loader {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  100% {
    height: 0;
    opacity: 0;
    visibility: hidden;
  }
}
/* loader spinner*/
.mot_1 {
  animation-name: defilement;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 7.1066222215ms;
}

.mot_2 {
  animation-name: defilement;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 1028.7948611635ms;
}

.mot_3 {
  animation-name: defilement;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 2012.5855190137ms;
}

.rond {
  display: inline-block;
  animation: rotation_loader 1969.34ms ease 34.6192ms infinite;
  margin-left: 155px;
}

.loader {
  animation: loader 1000ms linear forwards 3000ms;
}

/* defilement */
.def {
  animation-name: defilement;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 100ms;
}

.def_1 {
  animation-name: defilement;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 250ms;
}

.def_2 {
  animation-name: defilement;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 400ms;
}

.def_3 {
  animation-name: defilement;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 550ms;
}

.def_4 {
  animation-name: defilement;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 700ms;
}

.def_5 {
  animation-name: defilement;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 850ms;
}

.def_6 {
  animation-name: defilement;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 1000ms;
}

.def_7 {
  animation-name: defilement;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 1150ms;
}

.def_8 {
  animation-name: defilement;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 1300ms;
}

.def_9 {
  animation-name: defilement;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 1450ms;
}

.def_10 {
  animation-name: defilement;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 1600ms;
}

.def_11 {
  animation-name: defilement;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 1750ms;
}

.def_12 {
  animation-name: defilement;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 1900ms;
}

/* Les boutons */
button:hover {
  filter: brightness(115%);
  box-shadow: 2px 3px 20px #474747;
}

.menu_bouton:hover {
  filter: brightness(115%);
}

/* Remplissage des coeurs */
.coeur_plein:hover {
  cursor: pointer;
}
.coeur_plein:active {
  color: transparent;
  background: radial-gradient(#DA86DF, #9B77D4);
  -webkit-background-clip: text;
  opacity: 1;
  transition: opacity 450ms ease-in-out 150ms;
}

.menu_coeur_plein:hover {
  cursor: pointer;
}
.menu_coeur_plein:active {
  color: transparent;
  background: radial-gradient(#DA86DF, #9B77D4);
  -webkit-background-clip: text;
  opacity: 1;
  transition: opacity 450ms ease-in-out 150ms;
}

/* Les checks */
.menu_carte:hover .menu_carte_titre {
  width: 80%;
  transition: width 500ms ease;
}

.menu_carte:hover .menu_carte_accompagnement {
  width: 100%;
  transition: width 500ms ease;
}

.menu_carte:hover .circle {
  width: 66px;
  animation: check_ok 0.5s ease-in-out forwards;
}
.menu_carte:hover .circle i {
  opacity: 1;
  position: relative;
  top: 34%;
  left: 31%;
  animation: rotation 1.5s ease-in-out forwards;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

#bloc-page {
  margin: 0;
}

h1 {
  font-size: 28px;
}

h1, h2, h3, h4, button {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: white;
}

button {
  background: linear-gradient(169deg, #FF79DA, #9356DC);
  color: white;
  border: white;
  border-radius: 50px;
  padding: 17px 20px 17px 20px;
  box-shadow: 2px 3px 20px #979696;
  cursor: pointer;
}

/* Bouton du menu */
.menu_bouton {
  background: linear-gradient(169deg, #FF79DA, #9356DC);
  color: white;
  border: white;
  border-radius: 50px;
  padding: 17px 20px 17px 20px;
  box-shadow: 2px 3px 20px #979696;
  cursor: pointer;
  padding: 18px 48px 20px 47px;
  margin: 50px 94px 83px 94px;
}

.logo {
  display: block;
  width: 170px;
  height: 30px;
  margin: 21px auto 12px auto;
}

/* header du menu*/
header a {
  color: initial;
}

form {
  background-color: #f6f6f6;
}

.form_recherche {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 51px;
  box-shadow: inset 1px 3px 0px #e5dfdf;
  background-color: #eaeaea;
}
.form_recherche_position {
  margin: 13px 0 15px 102px;
}
.form_recherche input {
  border: none;
  background-color: #eaeaea;
  font-weight: bold;
}

.form_corps {
  text-align: center;
  height: 287px;
}
.form_corps_p {
  margin: 0 28px 33px 39px;
}

h1 {
  padding: 43px 74px 21px 63px;
  margin: 0;
}

footer {
  height: 200px;
  background-color: #353535;
  color: white;
  padding: 25px 0 0 25px;
  line-height: 28px;
}
footer h4 {
  font-family: "Shrikhand", sans-serif;
  padding: 0 0 6px 0;
}

nav div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav div i {
  font-size: 10px;
}

.footer_lien_1 {
  padding: 0 163px 0 0;
}

.footer_lien_2 {
  padding: 0 188px 0 0;
}

/* les mots */
.loader {
  height: 100vh;
  background-color: #eaeaea;
}

.mot {
  text-align: center;
  padding-top: 272px;
}

.mot_1, .mot_2, .mot_3 {
  font-weight: bold;
  font-family: "Shrikhand", sans-serif;
  font-size: 50px;
}

.mot_1, .mot_3 {
  color: #9356DC;
}

.mot_2, .mot_4 {
  color: #FF79DA;
}

/* Les ronds */
.rond_1, .rond_2, .rond_3, .rond_4 {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: inline-block;
}

.rond_1, .rond_4 {
  background-color: #9356DC;
}

.rond_2, .rond_3 {
  background-color: #FF79DA;
}

.fonctionnement {
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 16px 50px 30px;
}

h2 {
  margin: 0;
  padding: 55px 0 30px 0;
  font-weight: bold;
}

.fonctionnement_choix {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  background-color: #f6f6f6;
  border-radius: 20px;
  margin: 0 0 21px 0;
  box-shadow: 2px 3px 20px #dfdfdf;
}
.fonctionnement_choix_p1 {
  margin: 0px 70px 0px 25px;
  font-weight: bold;
}
.fonctionnement_choix_p2 {
  margin: 0px 86px 0px 22px;
  font-weight: bold;
}
.fonctionnement_choix_p3 {
  margin: 0px 80px 0px 19px;
  font-weight: bold;
}
.fonctionnement_choix span {
  background-color: #9356DC;
  border-radius: 100%;
  color: white;
  font-weight: bold;
  font-size: small;
  padding: 5px 8px 5px 8px;
  margin: 0 21px 0 -11px;
}

.fa-mobile-alt:before, .fa-list-ul:before, .fa-store:before {
  color: gray;
}

.restaurants {
  height: 1215px;
  background-color: #f6f6f6;
  padding: 0 20px 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

figure {
  width: 335px;
  height: 250px;
  background-color: white;
  border-radius: 15px;
  position: relative;
  box-shadow: 2px 3px 20px #dfdfdf;
}
figure img {
  width: 335px;
  height: 170px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
figure div {
  background-color: #99E2D0;
  color: #22a884;
  font-weight: bold;
  height: 30px;
  width: 80px;
  padding: 7px 13px 10px 13px;
  position: absolute;
  top: 13px;
  left: 243px;
  font-size: small;
}
figure figcaption {
  position: relative;
  padding: 15px 0px 0px 11px;
  line-height: 25px;
  color: initial;
}

.coeur {
  position: absolute;
  left: 285px;
  top: 20px;
  font-size: 25px;
}

.coeur_plein {
  position: absolute;
  left: 285px;
  top: 20px;
  font-size: 25px;
  opacity: 0;
}

header {
  display: flex;
  align-items: center;
  height: 62px;
}
header i {
  margin: 30px 66px 30px 28px;
}

.logo_menu {
  width: 170px;
  height: 30px;
  margin: 0;
}

.img_menu_A {
  height: 255px;
  width: 100%;
  margin-bottom: -50px;
  background-size: cover;
  background-image: url("/Images/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.menu {
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  height: 1254px;
  padding-left: 13px;
}
.menu_titre {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.menu_titre h1 {
  font-family: "shrikhand", sans-serif;
  padding: 30px 0 10px 8px;
}
.menu h2 {
  font-size: 18px;
  padding: 40px 0px 23px 7px;
  display: flex;
  flex-direction: column;
}
.menu h2::after {
  content: "";
  width: 50px;
  border-bottom: 4px #99E2D0 solid;
}

.menu_coeur {
  position: absolute;
  left: 285px;
  top: 20px;
  font-size: 25px;
  left: 312px;
  top: 35px;
}

.menu_coeur_plein {
  position: absolute;
  left: 285px;
  top: 20px;
  font-size: 25px;
  left: 312px;
  top: 35px;
  opacity: 0;
}

.menu_carte {
  display: flex;
  cursor: pointer;
  height: 66px;
  width: 348px;
  background-color: white;
  margin: 0px 0px 15px 0;
  border-radius: 20px;
  overflow: hidden;
  line-height: 26px;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;
}
.menu_carte_titre {
  display: flex;
  flex-direction: column;
  padding: 0 0 8px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu_carte_accompagnement {
  display: flex;
  justify-content: space-between;
  width: 320px;
}
.menu_carte_legumes {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu_carte_prix {
  font-weight: bold;
}

.circle {
  width: 0;
  height: 100%;
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
  padding: 0;
  position: absolute;
  right: -68px;
}

.circle i {
  opacity: 0;
  color: white;
  background-color: #99E2D0;
}

/*# sourceMappingURL=style.css.map */
