button {
    @include button;
}

/* Bouton du menu */

.menu_bouton {
    @include button;
    padding: 18px 48px 20px 47px;
    margin: 50px 0 83px 82px;
}

@media (min-width: 376px) and (max-width: 768px) {
    .menu_bouton {
        margin-left: 40%;
    }
}