.fonctionnement {
    height: 440px;
    @include flexbox_column;
    padding: 0 16px 50px 30px;
}

h2 {
    margin: 0;
    padding: 55px 0 30px 0;
    font-weight: bold;
    }

.fonctionnement_choix {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: $background-color_page;
    border-radius: 20px;
    margin: 0 0 21px 0;
    @include box-shadow;
    &_p1 {
        margin: 0px 70px 0px 25px;
        font-weight: bold;
    }
    &_p2 {
        margin: 0px 86px 0px 22px;
        font-weight: bold;
    }
    &_p3 {
        margin: 0px 80px 0px 19px;
        font-weight: bold;
    }
    & span {
        background-color: $color-primary;
        border-radius: 100%;
        color: white;
        font-weight: bold;
        font-size: small;
        padding: 5px 8px 5px 8px;
        margin: 0 21px 0 -11px;
    }
}

.fa-mobile-alt:before, .fa-list-ul:before, .fa-store:before {
    color: gray;
}

.restaurants {
    height: 1215px;
    background-color: $background-color_page;
    padding: 0 20px 50px 20px;
    &_cartes {
        display: flex;
        flex-direction: column;
        height: 1058px;
        justify-content: space-around;
    }
}

figure {
    width: 335px;
    height: 250px;
    background-color: white;
    border-radius: 15px;
    position: relative;
    @include box-shadow;
    & img {
        width: 335px;
        height: 170px;
        border-radius: 15px 15px 0 0;
        object-fit: cover;
    }
    & div {
        background-color: $color-tertiary;
        color: #22a884;
        font-weight: bold;
        height: 30px;
        width: 80px;
        padding: 7px 13px 10px 13px;
        position: absolute;
        top: 13px;
        left: 243px;
        font-size: small;
    }
    & figcaption {
        position: relative;
        padding: 15px 0px 0px 11px;
        line-height: 25px;
        color: initial;
    }
}

.coeur {
    @include position_coeur;
}

.coeur_plein {
    @include position_coeur;
    opacity: 0;
}

                        /* Pour les first mobile*/

@media (min-width: 376px) and (max-width: 768px) {
    .fonctionnement {
        align-items: center;
    }

    .restaurants {
        height: auto;
    }

    .restaurants_cartes {
        flex-wrap: wrap;
        align-content: center;
        height: auto;
    }

    figure {
        margin-bottom: 7%;
    }
}