.img_menu_A {
    @include img_menu;
    background-image: url("./Images/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.img_menu_B {
    @include img_menu;
    background-image: url("./Images/stil-u2Lp8tXIcjw-unsplash.jpg");
}

.img_menu_C {
    @include img_menu;
    background-image: url("./Images/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.img_menu_D {
    @include img_menu;
    background-image: url("./Images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.menu {
    background-color: $background-color_page;
    border-radius: 40px 40px 0 0;
    height: 1254px;
    padding-right: 13px;
    padding-left: 13px;
    &_titre {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        & h1 {
            font-family: "shrikhand", sans-serif;
            padding: 30px 0 10px 8px;
        }
    }
    & h2 {
        font-size: 18px;
        padding: 40px 0px 23px 7px;
        display: flex;
        flex-direction: column;
        &::after {
            content: "";
            width: 50px;
            border-bottom: 4px $color-tertiary solid;
        }
    }
}

.menu_B {
    background-color: #f6f6f6;
    border-radius: 40px 40px 0 0;
    height: 1336px;
    padding-left: 13px;
}

.menu_coeur {
    @include position_coeur;
    left: 312px;
    top: 35px;
}

.menu_coeur_plein {
    @include position_coeur;
    left: 312px;
    top: 35px;
    opacity: 0;
}

.menu_carte {
    display: flex;
    cursor: pointer;
    height: 66px;
    width: 100%;
    background-color: white;
    margin: 0px 0px 15px 0;
    border-radius: 20px;
    overflow: hidden;
    line-height: 26px;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    &_titre {
        display: flex;
        flex-direction: column;
        padding: 0 0 8px 10px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        & h3 {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
    &_accompagnement {
        display: flex;
        justify-content: space-between;
        width: 327px;
    }
    &_legumes {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    &_prix {
            font-weight: bold;
    }
}

.circle {
    width: 0;
    height: 100%;
    background-color: $color-tertiary;
    border-radius: 0 20px 20px 0;
    padding: 0;
    position: absolute;
    right: -68px;
}

.circle i {
    opacity: 0;
    color: white;
    background-color: $color-tertiary;
}


                        /* Pour les first mobile*/

@media (min-width: 376px) and (max-width: 768px) {
    .img_menu_A, .img_menu_C, .img_menu_D { 
        background-position: (100% 77%);
    }

    .img_menu_B {
        background-position: (100% 62%);
    }

    .menu_titre {
        justify-content: center;
        & h1 {
            font-size: 148%;
        }
    }

    .menu_coeur, .menu_coeur_plein {
        left: 84%;
    }

    .menu h2 {
        align-items: center;
    }

    .menu_carte {
        width: 100%;
        &_titre {
            padding: 0 0 8px 4%;
            width: 100%;
        }
        &_accompagnement {
            width: 96%;
        }
    }

    
}