                                /* loader spinner*/

.mot_1 {
    @include animation_def;
    animation-delay: 7.106622221506186ms;
}
                        
.mot_2 {
    @include animation_def;
    animation-delay: 1028.7948611635468ms;
}
                
.mot_3 {
    @include animation_def;
    animation-delay: 2012.5855190137213ms;
}
                
.rond {
    display: inline-block;
    animation: rotation_loader 1969.34ms ease 34.6192ms infinite;
    margin-left: 155px;
}

.loader {
    animation: loader 1000ms linear forwards 3000ms;
}

                            /* defilement */

.def {
    @include animation_def;
    animation-delay: 100ms;
}

.def_1 {
    @include animation_def;
    animation-delay: 250ms;
}

.def_2 {
    @include animation_def;
    animation-delay: 400ms;
}

.def_3 {
    @include animation_def;
    animation-delay: 550ms;
}

.def_4 {
    @include animation_def;
    animation-delay: 700ms;
}

.def_5 {
    @include animation_def;
    animation-delay: 850ms;
}

.def_6 {
    @include animation_def;
    animation-delay: 1000ms;
}

.def_7 {
    @include animation_def;
    animation-delay: 1150ms;
}

.def_8 {
    @include animation_def;
    animation-delay: 1300ms;
}

.def_9 {
    @include animation_def;
    animation-delay: 1450ms;
}

.def_10 {
    @include animation_def;
    animation-delay: 1600ms;
}

.def_11 {
    @include animation_def;
    animation-delay: 1750ms;
}

.def_12 {
    @include animation_def;
    animation-delay: 1900ms;
}

.def_13 {
    @include animation_def;
    animation-delay: 2050ms;
}

                /* Les boutons */

button:hover {
        filter: brightness(115%);
        box-shadow: 2px 3px 20px #474747
    }

.menu_bouton:hover {
        filter: brightness(115%);
    }

                     /* Remplissage des coeurs */

.coeur_plein {
    &:hover {
        cursor: pointer;
    }
    &:active {
        color: transparent;
        background: radial-gradient(#DA86DF, #9B77D4);
        -webkit-background-clip: text;
        opacity: 1;
        transition: opacity 450ms ease-in-out 150ms;
    }
}

.menu_coeur_plein {
    &:hover {
        cursor: pointer;
    }
    &:active {
        color: transparent;
        background: radial-gradient(#DA86DF, #9B77D4);
        -webkit-background-clip: text;
        opacity: 1;
        transition: opacity 450ms ease-in-out 150ms;
    }
}

                /* Les checks */

.menu_carte:hover .menu_carte_titre {
    width: 80%;
    transition: width 500ms ease;
}

.menu_carte:hover .menu_carte_accompagnement {
    width: 100%;
    transition: width 500ms ease;
}

.menu_carte:hover .circle {
    width: 66px;
    animation: check_ok 0.5s ease-in-out forwards;
    & i {
        opacity: 1;
        position: relative;
        top: 34%;
        left: 31%;
        animation: rotation 1.5s ease-in-out forwards;
    }
}

                /* Survol violet*/

.fonctionnement_choix:hover {
    background-color: #F5EDFF;
    cursor: pointer;
    & .fa-mobile-alt:before, .fa-list-ul:before, .fa-store:before {
        color: $color-primary;
    }
}

                /* Grossissement carte*/

figure:hover {
    transform: scale(1.08);
}