@keyframes check_ok {
    0% {
        transform: translateX(57px);
    }
    100% {
        transform: translateX(-57px);
    }
}

@keyframes rotation {
    0% {
        transform: rotate(-360deg);
    }
    100% {
        transform: rotate(0);
    }
}

@keyframes defilement {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}