@keyframes check_ok {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-57px);
    }
}

@keyframes rotation {
    0% {
        transform: rotate(-360deg);
    }
    100% {
        transform: rotate(0);
    }
}

@keyframes affichage {
    0% {
        opacity: 0;
       
    }
    100% {
        opacity: 1;
       
    }
}

@keyframes rotation_loader {
    0% { 
      transform: rotate(0deg); 
    }

    50% {
        transform: rotate(180deg);
    }
    100% { 
      transform: rotate(360deg); 
    }
}


@keyframes loader {
    100% {
        height: 0;
        opacity: 0;
        visibility: hidden;
        
    }
}

@keyframes defilement {
    0% {
        opacity: 0;
        transform: translateY (20px);
       
    }
    100% {
        opacity: 1;
        transform: translateY (0);
       
    }
}

