@mixin flexbox {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin flexbox_column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@mixin position_coeur {
    position: absolute;
            left: 285px;
            top: 20px;
            font-size: 25px;
}

@mixin box-shadow {
    box-shadow: 2px 3px 20px #dfdfdf;
}